@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0e314c;
}

p {
    margin-bottom: 2rem
}


header {
    height: 14vh;
    background-color: #000000ba;
    z-index: 49;
    width: 100%;
}

nav {
    height: 100%;
}


footer {
    background-color: #000000;
    padding-top: 80px;
    position: relative;
    z-index: 1;
    color: #fff;
}

.page-banner {
    height: 50vh;

    z-index: 2;
}

.page-banner-bg {
    filter: brightness(0.5);
    z-index: -1;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1524514587686-e2909d726e9b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.service-box {
    background-color: #0e314c;
    height: 320px;
    position: relative;
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

table {
    width: 100%;
}


td,
th {
    border: 1px solid rgba(192, 198, 255, 0.582);
    padding: 1%;
}

.web-page-btn {
    text-transform: capitalize;
    border-radius: 0;
    background-color: #469d92;
    padding: 13px 30px;
    -webkit-box-shadow: 5px 5px 5px #469d92;
    box-shadow: 5px 5px 5px #469d92;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
}

.swiper {
    height: 80vh;
    width: 100%;
}

.swiper-slide {
    color: white;
    background-image: url("https://manufactronix.com/Images/Sliders/20b43632-f1f6-42e8-99b0-a26e8fa6c77fs10.jpg");
    background-size: cover;
    background-position: center;
}

.slider-inner {
    backdrop-filter: brightness(0.5);
    height: 100%;
    width: 100%;
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.slider-title {
    margin-bottom: 25px;
    line-height: 1.4;
    font-size: 50px;
    font-weight: 700;
}

.slider-inner a {
    margin-top: 18px;
    font-weight: 600;
    font-size: 14px;
    border: none;
    padding: 15px 40px;
    position: relative;
    border-radius: 4px;
    z-index: 1;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #ffffff;
    background-color: #469d92;
    -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
    box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}

.feature-box {
    margin-bottom: 30px;
    border: 1px dashed #687b6f;
    position: relative;
    border-radius: 5px;
    padding: 25px 25px 25px 95px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1;
    height: 370px;
}

.feature-box h3 {
    color: #ffffff;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
}

.service-box {
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 90px 35px 70px;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    background-color: #000000;
}

.service-box h3 {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
}

.discover-area {
    position: relative;
    z-index: 1;
    background: linear-gradient(135deg, #43e794 0%, #23bdb8 100%);
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
    color: #ffffff;
}

.section-title h2 {
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 600;
}

.section-title .bar {
    height: 5px;
    width: 90px;
    background: #cdf1d8;
    margin: 20px auto;
    position: relative;
    border-radius: 30px;
}

.section-title .bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2.7px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #469d92;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: MOVE-BG;
    animation-name: MOVE-BG;
}

.discover-img {
    position: relative;
    padding-bottom: 100px;
}

.discover-img img:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: 0;
}

.analytics-shape1 {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}

.discover-content {
    margin-top: 80px
}

.discover-content h2 {
    color: #ffffff;
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 28px;
    font-weight: 600;
}

.discover-content a {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    margin-top: 15px;
    background-color: #ffffff;
    color: #0e314c;
    font-weight: 600;
    font-size: 14px;
    border: none;
    padding: 15px 40px;
    position: relative;
    border-radius: 4px;
}

@keyframes MOVE-BG {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(88px);
        transform: translateX(88px);
    }
}